[submodule "imgui"]
	path = dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "system_info"]
	path = dependencies/system_info/SystemInfo
	url = https://github.com/tlewiscpp/SystemInfo
[submodule "simple_ini"]
	path = dependencies/simple_ini/simpleini
	url = https://github.com/brofield/simpleini
